body{
    width: 1200px;
    margin: auto;
    max-width: 1200px;
}

body > div{
    padding: 15px;
    background-color: black;
}
header div img{
    width:100%;
}

header figure{
    width:150px;
}

header{
    display: flex;
    margin: 10px 5px;
}

header nav{
    flex-grow: 1;
    background-color: aquamarine;
    display:flex;
    align-items: flex-end;
}

nav > div{
    margin:0px 15px;
}

nav > div{
    position: relative;
}
nav div div{
    position: absolute;
    border: 1px solid black;
    width:150px;
    display: none;
    z-index: 1;
    background-color: white;
}

nav div div a{
    display: inline-block;
    width:140px;
    padding: 10px 5px;
    
}

nav div:hover div{
    display:block;
}

nav div div a:hover{
    background-color: black;
    color: white;
}






main figure{
    margin: 0px;
    padding:0px;
    position: relative;
}
main figure img{
    width:100%;
}

main figure div{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right:0px;
    left:0px;
    color:aqua;
    padding: 100px;
    background-image: linear-gradient(90deg, rgba(200,0,0,1), rgba(0,0,0,0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}






section{
    display: flex;
    margin: 20px 0px;
}

section div{
    flex: 0 0 240px;
}

section aside{
    flex:0 0 920px;
}

section div ul{
    background-color: aquamarine;
    border-radius: 5px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

section div ul li{
    padding: 15px;
}

section aside{
    margin: 0px 20px;
}

.card{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.card img{
    width: 100%;
}



footer p{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;

}