/*targating inner h2*/
main div h2{
    border: 1px solid green;
    margin: 0px;
}

/*targating child h1 when h1 grandchild exist*/
main > h1{
    border: 1px solid red;
    margin: 0px;
}

.pcls{
    background-color: aqua;
}


#p3id{
    background-color: bisque;
}

footer h3:nth-child(2){/*work with even&odd as well*/
    background-color: blueviolet;
}

/*generic sibling combinator*/
/*using+ insted of ~ is only going to target immdiate h2 that follows*/
h1~h2{
    background-color: rgb(212, 137, 39);
}

a[title="test1"]{
    background-color: yellow;
}