h1{
    margin: 0px;
    padding: 10px;
}

header{
    background-color: aqua;
}

nav{
    background-color: bisque;
}

main{
    background-color: brown;
    width: 70%;
    float: left;
}

aside{
    background-color: aquamarine;
    width: 30%;
    float: left;
}

footer{
    background-color: blanchedalmond;
}